html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
input,
time,
mark,
audio,
video,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}
textarea {
  resize: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  font-weight: 400;
  line-height: 1.2;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table,
tr,
td,
th,
thead,
tbody,
tfoot {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
}

/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");
:root {
  font-weight: 400;
  font-family: "Noto Sans KR", system-ui, -apple-system, sans-serif;
  font-size: 16px;

  /* variable */
  --white: #fff;
  --blue_050: #e3f2ff;
  --blue_100: #e5f3ff;
  --blue_200: #0049b9;
  --blue_300: #003a93;
  --blue_400: #223761;
  --gray_000: #f5f5f5;
  --gray_001: #f8f8fb;
  --gray_050: #bdbfcb;
  --gray_100: #7a7a7a;
  --gray_200: #5e6368;
  --gray_300: #4d4a4a;
  --black: #212529;

  --thin: 300;
  --normal: 500;
  --bold: 700;
}

/* Common Style */
.none {
  display: none;
}
.blind_wrap a > span,
.blind_wrap button > span,
.blind {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
.blind_wrap a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
